{{ form_start(mediaform, {'action': path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')), 'method': 'POST'}) }}

<div class="form-group border-bottom pb-3">
    <b>Choisir un nom/titre pour votre média</b>
    {{ form_row(mediaform.title, {'attr' : {'placeholder' : 'obligatoire'}}) }}
</div>

<div class="form-group border-bottom pb-3 {% if edit == true %}d-none{% endif %}">
    <b>Choisir une image sur votre ordinateur</b>
    {{ form_row(mediaform.Link, {'attr' : {'class' : 'mb-3'}}) }}
    <hr>
    <b>entrer le code de partage d'une vidéo</b>
    {{ form_row(mediaform.videoEmbed, {'attr' : {'style' : 'min-height:150px;'}}) }}
</div>


<button type="submit" class="btn btn-primary mt-3">Modifier le media</button>
{{ form_end(mediaform) }}