{{ form_start(trickform, {'action': path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')), 'method': 'POST'}) }}
{{ form_row(trickform.name) }}
{{ form_row(trickform.description) }}
{{ form_row(trickform.groupid) }}
<button type="submit" class="btn btn-primary d-lg-inline">Editer la figure</button>
<a href="{{ path('app_trick_trash', {'slug' : app.request.attributes.get('slug')}) }}" class="btn btn-danger d-lg-inline">Supprimer la figure</a>
{{ form_end(trickform) }}