{% extends "base.html.twig" %}

{% block title %}Récupération du mot de passe{% endblock %}

{% block body %}
<div class="container">
    <header class="Title text-center col-lg-6">
        Mot de passe perdu
    </header>
    <div class="col-lg-6 text-center mt-0 m-auto p-0">
        <div class="block p-4">
            <div>Veuillez saisir l'adresse email associée au compte afin de récupérer votre mot de passe</div>
            {% if message == '' %}
            {{ form_start(form) }}
            {{ form_row(form.email) }}
            <button type="submit" class="btn btn-primary mt-3">Envoyer le mail</button>
            {{ form_end(form) }}
            {% else %}
                <br />{{ message }}<br /><br />
                <a href="{{ path('app_account_lostpassword') }}">Continuer</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}