{% extends "base.html.twig" %}

{% block title %}Récupération du mot de passe{% endblock %}

{% block body %}
<div class="container">
    <header class="Title text-center col-lg-12 m-0 mt-4">
        Récupération de mot de passe
    </header>
    <div class="col-lg-12 text-center mt-0 p-0">
        <div class="block p-4">
            {% if form == null %}
            <div>{{ message }}</div>

                {% if status == true %}
                     <div class="col-lg-12 text-center"><a href="{{ path('app_login') }}">Continuer</a></div>
                {% endif %}
            {% else %}
                <div>
                    {{ form_start(form) }}
                    {{ form_widget(form.plainPassword.first, {'attr':{'class': 'mb-3', 'placeholder' : 'saisir un mot de passe'}}) }}
                    {{ form_widget(form.plainPassword.second, {'attr':{'class': 'mb-3', 'placeholder' : 'Ressaisir le mot de passe'}}) }}
                    <input type="submit" class="btn btn-primary" value="Modifier mon mot de passe">
                    {{ form_end(form) }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}