{% extends "base.html.twig" %}

{% block title %}Snowtrick | Récupération du mot de passe{% endblock %}

{% block body %}
<div class="container">
    <div class="col-lg-12 text-center mt-4">
        <div class="block p-4">
            {% if form == null %}
            <div>{{ message }}</div>

                {% if status == true %}
                     <div class="col-lg-12 text-center"><a href="{{ path('app_login') }}">Continuer</a></div>
                {% endif %}
            {% else %}
                <div>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" class="btn btn-primary" value="Modifier mon mot de passe">
                    {{ form_end(form) }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}