{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container">
    <header class="Title text-center col-lg-6">
        Inscription
    </header>
    <div class="col-lg-6 text-left mt-0 m-auto p-0">
        <div class="block p-4">

            {{ form_start(form) }}
            <div class="FormGroup border-bottom-0 pb-0">
                <div class="logintext">Nom de compte</div>
                {{ form_errors(form.username) }}
                {{ form_widget(form.username, {'attr' : {'placeholder' : 'Antoine'}}) }}
            </div>
            <div class="FormGroup border-bottom-0 pb-0">
                <div class="logintext">Email</div>
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, {'attr' : {'placeholder' : 'antoine@email.fr'}}) }}
            </div>
            <div class="FormGroup border-bottom-0 pb-0">
                <div class="logintext">Mot de passe</div>
                {{ form_row(form.plainPassword.first, {'attr' : {'placeholder' : 'Mot de passe'}}) }}
                {{ form_row(form.plainPassword.second, {'attr' : {'placeholder' : 'Répéter'}}) }}
            </div>

            <div class="text-center"><button type="submit" class="btn btn-success">Créer mon compte</button></div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}