{% extends 'base.html.twig' %}


{% block body %}
<div class="HeaderImg">
    <div>La compétition n'est rien sans la passion</div>
    <div class="DownArrow"><a href="#figures"><i class="fa fa-arrow-down"></i></a></div>
</div>

<div class="row FiguresList" id="figures">
    {% for figure in figures %}
        <div class="col-lg-2 p-4 FigureBox">
            <div class="card">
                <a href="#"><img class="card-img-top" src="/images/trick.jpg" alt="Card image cap"></a>
                <div class="card-body p-2">
                    <div class="row">
                        <div class="col-8 ">
                            <h5 class="card-title p-2"><a href="{{ path('app_trick', {'slug' : figure.name}) }}" class="FigureLoadName">{{ figure.name }}</a></h5>
                        </div>
                        <div class="col-4 FigureIcon text-right p-2">
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('app_trick_edit', {'slug' : figure.name}) }}"><i class="fa fa-pencil"></i></a>
                                <a class="LinkDelTrick" href="{{ path('app_trick_trash', {'slug' : figure.name}) }}"><i class="fa fa-trash"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="col-lg-12">
    <div class="block p-2 text-center">
        <a href="#" class="LoadMoreFigure"  data-index="{{ figurebaseindex }}" data-baseindex="{{ figurebaseindex }}">Charger plus</a>
    </div>
</div>
{% endblock %}